@import "./scss/components/variables";
@import "./scss/bootstrap-custom";
@import "./scss/components/buttons";
@import "./scss/components/header";
@import "./scss/components/main";
@import "./scss/components/footer";


body {
    font-family: $main-font;
    font-size: 16px;
    color: #000;
    word-wrap: break-word;
    background: #f5f5f5;
}








