
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./scss/components/header";
@import "./scss/components/footer";

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    word-wrap: break-word;
    background: #f5f5f5;
}



.main {
    h1 {
        margin-right: 350px;
        font-size: 36px;
        text-transform: uppercase;
    }
}






